body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #2F4F4F;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#B0C4DE, #87CEFA, #ADD8E6);
    flex-direction: column;
}
